@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./assests/fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("./assests/fonts/CalSans-SemiBold.woff") format("woff");
} */

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-image: url("./assests/grid.svg");
}
